:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  --height-cell: 20px;
  --min-width-cell: 100px;
  --min-width-header-row: 120px;
  --color-header-table: rgba(0, 117, 255, 0.3);
  --color-name-table: rgba(0, 117, 255, 0.2);
  --color-first-cell: rgba(125, 187, 191, 0.3);
  --color-cell: rgba(204, 204, 204, 0.15);
}
